@model IEnumerable<RestaurantNetCore.Model.Bill>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.BillID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BillID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BillID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
